.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 14, 14);
    height: 50px;
    color: #fff;
    margin-top: 1em;
    border-top: 3px solid #111;
  }
  
  .footer span {
    font-weight: bold;
  }