@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.mainlogin {
  width: auto;
  height: 80vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 900px;
  background: linear-gradient(
    180deg,
    #4b43c5,
    #385bd5,
    #2270e2,
    #0c84ec,
    #1397f3
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.leftlogin {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

.leftlogin > h1 {
  color: #ffffff;
  font-size: 4vw;
}

.leftlogin > span {
  color: #f0ffffde;
  font-size: 1vw;
}

.rightlogin {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .mainlogin {
    width: auto;
    height: auto;
  }
  .landingimage {
    width: 50vw;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .mainlogin {
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .leftlogin {
    width: 100%;
    height: auto;
  }
  .rightlogin {
    width: 100%;
    height: auto;
  }
  .landingimage {
    width: 50vw;
    height: auto;
  }
}
