.mainlogin {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(22, 140, 219) 0%,
    rgb(52, 26, 223) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.leftlogin {
  width: 50vw;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftlogin > h1 {
  color: #ffffff;
  font-size: 4vw;
}

.leftlogin > span {
  color: #f0ffffde;
  font-size: 1vw;
}

.rightlogin {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}